<!DOCTYPE html>
<html ng-app="cvApp">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="assets/css/materialize.min.css"/>
    <link rel="stylesheet" href="assets/css/design.css"/>
    <script type="application/javascript" src="assets/js/angular.js"></script>
    <script type="application/javascript" src="assets/js/jquery.js"></script>
    <script type="application/javascript" src="assets/js/materialize.min.js"></script>
    <script type="application/javascript" src="controller/controller.js"></script>
</head>
<body ng-controller="CvController">
<div class="row main">
    <div class="col l2">
        &nbsp;
    </div>
    <div class="col l8 s12">
        <div class="card card_cv">
            <div class="header">
                <span class="cv_header">{{header}}</span>
                <span class="cv_subheader" ng-repeat="item in sub_header">{{item.content}}</span>
            </div>
            <div class="bloc_titre">
                <span class="titre_cv">{{titre_cv}}</span>
            </div>
            <div class="row collapsed content">
                <div class="col s1 bloc_left">
                    &nbsp;
                </div>
                <div class="col s10">
                    <div ng-repeat="projet in projets | orderBy: ['-annee', '-mois']">

                        <div ng-if="projet.categorie == 'formation'" class="projet">
                            <div class="bulle_formation">{{projet.annee}}</div>
                            <div class="timeline_fleche_formation"></div>
                            <div class="card card_formation">
                                <div class="card-title">
                                    <span class="titre_projet">{{projet.titre}}</span>
                                </div>
                                <span class="soustitre_projet" ng-if="projet.soustitre">{{projet.soustitre}} - {{projet.lieu}}</span>
                                <hr class="formation"/>
                                <span class="description_projet"
                                      ng-if="projet.description">{{projet.description}}</span>
                                <div class="card-content" ng-if="projet.competences">
                                    <div class="col s4" ng-repeat="competence in projet.competences">
                                        <span class="titre_competence">{{competence.categorie}}</span>
                                        <li class="liste_competence_formation" ng-repeat="item in competence.items"><span>{{item.content}}</span></li>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="projet.categorie == 'pro'" class="projet">
                            <div class="bulle_pro">{{projet.annee}}</div>
                            <div class="timeline_fleche_pro"></div>
                            <div class="card card_pro">
                                <div class="card-title">
                                    <span class="titre_projet">{{projet.titre}}</span>
                                </div>
                                <span class="soustitre_projet" ng-if="projet.soustitre">{{projet.soustitre}} - {{projet.lieu}}</span>
                                <hr class="pro"/>
                                <span class="description_projet"
                                      ng-if="projet.description">{{projet.description}}</span>
                                <div class="card-content" ng-if="projet.competences">
                                    <div class="col s4" ng-repeat="competence in projet.competences">
                                        <span class="titre_competence">{{competence.categorie}}</span>
                                        <li class="liste_competence_pro" ng-repeat="item in competence.items"><span>{{item.content}}</span></li>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col s1 bloc_right">
                    <div class="timeline_right">&nbsp;</div>
                </div>
            </div>
            <div class="col s12 bloc_details">
                <p>blablablablabla Francine, blablablablab</p>
            </div>
        </div>
    </div>
    <div class="col l2">
        &nbsp;
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {

        function setFriseHeight() {
            var height = $(".content").height();
            $('.bloc_left').css("height", height);
            $('.bloc_right').css("height", height);
        };

        setFriseHeight();
    });
</script>